html {
  font-size: 16px;
}

br {
  height: 0;
  margin: 0;
  padding: 0;
  line-height: 0 !important;
}

.root {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.board {
  position: relative;
  border: 1px solid grey;
  background: grey;
}

.board .cell {
  float: left;
  min-width: 62.5px;
  height: 62.5px;
  margin: 0;
  padding: 0;
  line-height: 0;
  vertical-align:top;
  background: #dddddd;
}

.board .cell:nth-child(2n + 1) {
  background: white;
}

.piece {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  background: black;
  margin: 5px;
  box-sizing: border-box;
}

.piece.red {
  background: red;
}

.piece.active {
  box-shadow: 0 0 0.5rem green;
}

.result {
  display: flex;
  flex-direction: column;
  background: #dddddd;
}

.box {
  flex: 1;
}

.box:first-child {
  border-bottom: 1px solid #cccccc;
}

.box > div {
  width: 52.5px;
  height: 52.5px;
  border-radius: 50px;
  background: black;
  margin: 11px 10px 0 13px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.65;
}

.box:last-child > div {
  background: red;
}
