.board {
  position: relative;
  border: 0.5rem solid var(--darkerColor);
}

.board-cell {
  float: left;
  min-width: 62.5px;
  height: 62.5px;
  margin: 0;
  padding: 0;
  line-height: 0;
  vertical-align: top;
  background: #dddddd;
}

.board-cell:nth-child(2n + 1) {
  background: white;
}
