.piece {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  background: var(--secondColor);
  margin: 5px;
  box-sizing: border-box;
  transition: left 300ms ease-in-out, top 300ms ease-in-out;
}

.piece.user {
  top: 438px;
  left: 438px;
  background: var(--darkColor);
  cursor: pointer;
}

.piece.user.active {
  box-shadow: 0 0 0.9rem var(--lightColor);
}

.piece-next {
  width: 52.5px;
  height: 52.5px;
  background: transparent;
  box-shadow: 0 0 0.9rem var(--lightColor);
  cursor: pointer;
  border: none;
}
